.vscode
.metadata
analysis_options.yaml
module.iml
pubspec.lock
**.g.dart
**.config.dart
**.freezed.dart
supabase/
.env
web/
test/
assets/
**.export.dart
**.realm.dart

lib/data/model/export.dart
lib/data/repository_impl/export.dart
lib/data/datasource/export.dart
lib/domain/entity/export.dart
lib/domain/usecase/export.dart
lib/domain/repository/export.dart
lib/presentation/bloc/export.dart
lib/shared/export.dart

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
